:root {
  --transition-time: 250ms;
}

/* When i focus/hover an input, animate the icon */
/* Span is the element that wraps the icon */
label > span {
  opacity: 0;
  transition: opacity var(--transition-time);

  /* Edit direct icon siblin */
  & ~ p {
    transform: translateX(-1.5em);
    transition: transform var(--transition-time);
  }
}

label:has(~ input:focus) span,
label:has(~ input:hover) span {
  opacity: 1;

  & ~ p {
    transform: translateX(0);
  }
}
