:root {
  --transition-time: 250ms;
}

#key-icon,
#identification-icon {
  opacity: 0;
  transition: opacity var(--transition-time);

  /* Edit direct icon siblin */
  & ~ * {
    transform: translateX(-1.5em);
    transition: transform var(--transition-time);
  }
}

html:has(#password:focus) #key-icon,
html:has(#password:hover) #key-icon,
html:has(#username:focus) #identification-icon,
html:has(#username:hover) #identification-icon {
  opacity: 1;

  & ~ * {
    transform: translateX(0);
  }
}
