/* Apply only to label within a form with data-login tag, so that it doesnt affects other pages */

:root {
  --transition-time: 250ms;
}

/* When i focus/hover an input, animate the icon */
/* Span is the element that wraps the icon */
form[data-login] label > span {
  opacity: 0;
  transition: opacity var(--transition-time);

  /* Edit direct icon siblin */
  & ~ p {
    transform: translateX(-1.5em);
    transition: transform var(--transition-time);
  }
}

form[data-login] label:has(~ input:focus) span,
form[data-login] label:has(~ input:hover) span {
  opacity: 1;

  & ~ p {
    transform: translateX(0);
  }
}
