:root {
  --header-bg: rgb(230,230,230);
  --header-border: rgb(182,182,182);
}

.dark {
  --header-bg: rgb(23,23,23);
  --header-border: rgb(82,82,82);
}

.header {
  border-bottom: 1px solid transparent;
  backdrop-filter: blur(0px);
  animation: show-border normal;
  animation-timeline: scroll();
  animation-range: 50px;
}

@keyframes show-border {
  to {
    border-bottom: 1px solid var(--header-border);
    backdrop-filter: blur(10px);
    background-color: var(--header-bg);
    box-shadow: 0px 2px 15px rgba(0,0,0,0.2);
  }
}