:root {
  --test-border: hsl(0deg, 0%, 82%);
  --triangle-size: 10px;

  --tick-icon-lentgh: 30.66960334777832;
  --cross-icon-lentgh: 40.19870376586914;

  --color-green: hsl(120deg, 50%, 50%);
  --color-red: hsl(0deg, 50%, 50%);
}

.dark {
  --test-border: hsl(0deg, 0%, 32%);
}

.multiple-choice-test > .question {
  display: flex;
  align-items: center;
  gap: 0.2em;
}

.box {
  width: 0.75em;
  height: 0.75em;
  border: 1px solid var(--test-border);
}

.answer {
  height: 0.25em;
  width: calc(100% - 1em);
  border-radius: 1em;
  background-color: var(--test-border);
  transition: background-color 500ms;
}

/* ICON */
.tick-svg > .tick-path,
.cross-svg > .cross-path {
  transition: stroke-dashoffset 0.5s;
  stroke-width: 0.8px;
}

.tick-svg > .tick-path {
  stroke-dasharray: var(--tick-icon-lentgh);
  stroke-dashoffset: var(--tick-icon-lentgh);
  color: var(--color-green);
}

.cross-svg > .cross-path {
  stroke-dasharray: var(--cross-icon-lentgh);
  stroke-dashoffset: var(--cross-icon-lentgh);
  color: var(--color-red);
}

/* Animate on hover card */
*:hover > div > .multiple-choice-test {
  transform: translateY(30px);
  transition: transform 150ms;

  /* & .answer {
    background-color: var(--color-red);
  }

  & .question:nth-child(even) > .answer {
    background-color: var(--color-green);
  } */

  & .tick-svg > .tick-path,
  .cross-svg > .cross-path {
    stroke-dashoffset: 0;
    transition: stroke-dashoffset 0.5s;
  }
}
