:root {
  --test-border: hsl(0deg, 0%, 82%);
  --triangle-size: 10px;
}

.dark {
  --test-border: hsl(0deg, 0%, 32%);
}

/* Skeleton lines */
.test > span {
  height: 0.25em;
  border-radius: 1em;
  background-color: var(--test-border);
  transition: width 500ms;

  &:nth-child(2) {
    width: 10%;
  }

  &:nth-child(1) {
    width: 50%;
  }

  &:nth-child(3) {
    width: 80%;
  }

  &:last-child {
    width: 0%;
  }
}

/* Animate on hover card */
*:hover > div > .test {
  transform: translateY(30px);
  transition: transform 150ms;

  & > span {
    width: 100%;
  }

  & > span:last-child {
    width: 40%;
  }
}
