:root {
  --tick-icon-lentgh : 30.66960334777832;
}

.tick-svg > .tick-path{
  stroke-dasharray: var(--tick-icon-lentgh);
  stroke-dashoffset: calc(var(--tick-icon-lentgh)/2);
  transition: stroke-dashoffset 0.5s ease-in-out;
}

/* .tick-path {
  stroke-dashoffset: 0;
} */